## -------- Welcome to the Jam3 gitignore --------
##
## Please add your ignores ordered by topics.
## See https://help.github.com/ignore-files/ for more about ignoring files.

# Global
.DS_Store
*.log*

# IDEs
.vscode
sketch
.idea

# Node & NPM
node_modules

# Tests
bundle.js
test/output/
test/output2/
coverage
